.section-entrevistas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section-entrevistas-titulo {
	margin: 20px;
	width: 90%;
}

#section-entrevistas-titulo h1 {
	font-size: 01rem;
	letter-spacing: 1px;
	font-weight: 700;
	font-style: italic;
	text-align: left;
	color: #fff;
}

#section-entrevistas-videos {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#section-entrevistas-videos iframe {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	margin: 20px 0;
}

#section-entrevistas-imagenes {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 10px 0;
	gap: 10px;
}

#section-entrevistas-imagenes img {
	width: 200px;
	height: 200px;
	object-fit: contain;
	border-radius: 10px;
}
