@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@300&family=Metrophobic&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.section-entrevistas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section-entrevistas-titulo {
	margin: 20px;
	width: 90%;
}

#section-entrevistas-titulo h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Metrophobic', sans-serif;
	font-weight: 500;
}

#section-entrevistas-videos {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

#section-entrevistas-videos h2 {
	color: #fc6265;
	font-size: 1.5rem;
	font-family: 'Metrophobic', sans-serif;
	font-weight: 600;
	text-align: center;
}

#section-entrevistas-videos iframe {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	border: 1px #fc6265 solid;
	padding: 5px;
	margin: 20px 0;
}

#section-entrevistas-imagenes {
	margin: 30px 0;
	width: 90%;
	height: 280px;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
	overflow: hidden;
	background-color: #121047;
	padding: 5px 0;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}

#section-entrevistas-imagenes img {
	width: 250px;
	height: 250px;
	object-fit: fill;
	border-radius: 10px;
	opacity: 1;
	animation: eventos 30s linear infinite;
	object-fit: fill;
}

@keyframes eventos {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}

	20% {
		opacity: 1;
		transform: translateX(-80%);
	}

	40% {
		opacity: 1;
		transform: translateX(-160%);
	}

	60% {
		opacity: 1;
		transform: translateX(-240%);
	}

	80% {
		opacity: 1;
		transform: translateX(-360%);
	}

	90% {
		opacity: 1;
		transform: translateX(-400%);
	}


}

@media screen and (min-width: 350px) and (max-width: 1000px) {
	#section-entrevistas-videos iframe {
		width: 300px;
		height: 200px;
		border-radius: 20px;
		border: 1px #fc6265 solid;
		padding: 5px;
		margin: 20px 0;
	}
}