@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@300&family=Metrophobic&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.section-entrevistas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section-entrevistas-titulo {
	margin: 20px;
	width: 90%;
}

#section-entrevistas-titulo h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Metrophobic', sans-serif;
	font-weight: 500;
}

#section-entrevistas-videos {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

#section-entrevistas-videos h2 {
	color: #fc6265;
	font-size: 1.5rem;
	font-family: 'Metrophobic', sans-serif;
	font-weight: 600;
	text-align: center;
}

#section-entrevistas-videos iframe {
	width: 400px;
	height: 300px;
	border-radius: 20px;
	border: 1px #fc6265 solid;
	padding: 5px;
	margin: 20px 0;
}

#section-entrevistas-imagenes {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 10px 0;
	gap: 10px;
}

#section-entrevistas-imagenes img {
	width: calc(270px *20);
	animation: scroll2 15s linear infinite;
	/* 	width: 200px; */
	height: 200px;
	object-fit: contain;
	border-radius: 10px;
}

@keyframes scroll2 {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-265.8px * 10));
		transform: translateX(calc(-268.8px * 10));
	}
}