.section-eventos-form {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-titulo-eventos-form {
    font-size: 1.5rem;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.section-form-eventos-form {
    display: flex;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: 1px solid #2ecc71;
    padding: 20px;
    text-align: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.section-form-eventos-form div {
    display: inline-flex;
    position: relative;
    height: 45px;
    width: 45%;
    margin-bottom: 17px;
    gap: 20px;
}

.section-form-eventos-form div label {
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 4px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    transition: 0.5s;
    z-index: 0;
}

.section-form-eventos-form div input {
    display: block;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]::-moz-calendar-picker-indicator {
    filter: invert(1);
}

.div-textarea-asunto {
    width: 90% !important;
    margin-bottom: 30px !important;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.div-textarea-asunto textarea {
    display: inline-flex;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 120px !important;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    background: none;
    z-index: 1;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.section-form-eventos-form div input::placeholder,
textarea::placeholder {
    color: transparent;
}

.section-form-eventos-form div input:focus,
textarea:focus {
    outline: 1px solid #2ecc71;
    border: none;
}

.section-form-eventos-form div input:focus+label,
textarea:focus+label,
.section-form-eventos-form div input:not(:placeholder-shown)+label,
textarea:not(:placeholder-shown)+label {
    top: -10px;
    left: 3px;
    z-index: 100;
    font-size: 12px;
    font-weight: 600;
    color: #2ecc71;
    background-color: rgba(1, 1, 1, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 0 5px;
}

.section-form-eventos-form div input:hover,
textarea:hover {
    cursor: pointer;
}

.div-buttom-enviar {
    margin-top: 30px;
    width: 90% !important;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}


.section-form-eventos-form div button {
    margin: 30px 0;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #148f47;
    border: none;
    border-radius: 10px;
}

.section-form-eventos-form div button:hover {
    background-color: #2ecc71;
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .section-form-eventos-form div {
        width: 100% !important;
        display: inline-flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .section-form-eventos-form div label {
        position: absolute;
        top: 10px;
        left: 20px;
        text-align: left;
        font-size: 1rem;
        color: #fff;
        margin: 20px 0;

    }

    .section-form-eventos-form div input {
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 8px 10px;
        text-align: left;
        font-size: 0.9rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        top: 20px;

    }

    .div-textarea-asunto label {
        position: absolute;
        top: 10px;
        left: 20px;
        text-align: left;
        font-size: 1rem;
        color: #fff;
        margin: 20px 0;
    }

    .div-textarea-asunto {
        width: 98% !important;
        margin-bottom: 30px !important;
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .div-textarea-asunto textarea {
        position: absolute;
        top: 20px;
        width: 100%;
        padding: 15px 10px;
        text-align: left;
        font-size: 0.9rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .section-form-eventos-form div textarea::placeholder {
        color: transparent;
    }

    .section-form-eventos-form div textarea:focus {
        outline: 1px solid #2ecc71;
        border: none;
    }

    .section-form-eventos-form div textarea:focus+label,
    .section-form-eventos-form div textarea:not(:placeholder-shown)+label {
        top: -10px;
        left: 3px;
        z-index: 100;
        font-size: 12px;
        font-weight: 600;
        color: #2ecc71;
        background-color: rgba(1, 1, 1, 0.4);
        backdrop-filter: blur(10px);
        border-radius: 5px;
        padding: 0 5px;
    }

    .div-buttom-enviar {
        margin-top: 70px;
    }

}



@media screen and (min-width: 300px) and (max-width: 499px) {
    .section-form-eventos-form {
        width: 90% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .section-form-eventos-form div {
        width: 100% !important;
        display: inline-flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .section-form-eventos-form div label {
        position: absolute;
        top: 10px;
        left: 20px;
        text-align: left;
        font-size: 1rem;
        color: #fff;
        margin: 20px 0;

    }

    .section-form-eventos-form div input {
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 8px 10px;
        text-align: left;
        font-size: 0.9rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        top: 20px;

    }

    .div-textarea-asunto label {
        position: absolute;
        top: 10px;
        left: 20px;
        text-align: left;
        font-size: 1rem;
        color: #fff;
        margin: 20px 0;
    }

    .div-textarea-asunto {
        width: 98% !important;
        margin-bottom: 30px !important;
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .div-textarea-asunto textarea {
        position: absolute;
        top: 20px;
        width: 100%;
        padding: 15px 10px;
        text-align: left;
        font-size: 0.9rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .section-form-eventos-form div textarea::placeholder {
        color: transparent;
    }

    .section-form-eventos-form div textarea:focus {
        outline: 1px solid #2ecc71;
        border: none;
    }

    .section-form-eventos-form div textarea:focus+label,
    .section-form-eventos-form div textarea:not(:placeholder-shown)+label {
        top: -10px;
        left: 3px;
        z-index: 100;
        font-size: 12px;
        font-weight: 600;
        color: #2ecc71;
        background-color: rgba(1, 1, 1, 0.4);
        backdrop-filter: blur(10px);
        border-radius: 5px;
        padding: 0 5px;
    }

    .div-buttom-enviar {
        margin-top: 70px;
    }

}