.section-header {
	width: 100%;
	padding: 20px;
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(1, 1, 1, 0.3);
}

#div1-nombre {
	font-size: 1.3rem;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

#div1-nombre span {
	color: #2ecc71;
}

#div2-links-section-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

#div2-links-section-header div {
	height: 40px;
}

#div2-links-section-header div a {
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
}

#div2-links-section-header div a:hover {
	color: #54b689;
	font-weight: 500;
	transition: 0.3s;
}

#div2-links-section-header div:hover {
	border-bottom: 1px #54b689 solid;
}