.section-header {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 20px;
	align-items: center;
}

.section-header div {
	height: 40px;
}

.section-header a {
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
}

.section-header div:hover {
	border-bottom: 1px #54b689 solid;
}
.section-header div a:hover {
	color: #54b689;
}
