.section-header {
	width: 100%;
	padding: 20px;
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(1, 1, 1, 0.3);
	backdrop-filter: blur(5px);
	z-index: 100;
}

#div1-nombre {
	font-size: 1.3rem;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

#div1-nombre span {
	color: #2ecc71;
}

#div2-links-section-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

#div2-links-section-header div {
	height: 40px;
}

#div2-links-section-header div a {
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
}

#div2-links-section-header div a:hover {
	color: #54b689;
	font-weight: 500;
	transition: 0.3s;
}

#div2-links-section-header div:hover {
	border-bottom: 1px #54b689 solid;
}

.menu-icon {
	display: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: #fff;
}

@media screen and (min-width: 350px) and (max-width: 1000px) {
	#div2-links-section-header {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		background-color: rgba(1, 1, 1, 0.3);
		z-index: 99;
	}

	#div2-links-section-header div {
		padding-left: 20px;
		width: 200px;
	}

	#div2-links-section-header div a {
		width: 150px;
		padding: 0;
		margin: 0;
	}

	#div2-links-section-header.show-menu {
		display: flex;
	}

	.menu-icon {
		display: block;
	}
}