.section-logos {
	margin: 10px 0;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	overflow-x: auto;
	white-space: nowrap;
}

.section-logos img {
	width: 120px;
	height: 120px;
	object-fit: contain;
	border-radius: 20px;
}
