@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@300&family=Metrophobic&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.section-footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Metrophobic', sans-serif;
    color: #fff;
}

.section-footer #siguenos-en {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-footer #siguenos-en p {
    color: #fdad46;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.section-footer #footer-redes-sociales {
    width: 30%;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.section-footer #footer-redes-sociales div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-footer #footer-redes-sociales div:hover {
    background-color: #fdad46;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;

}

.footer-redes-sociales-icons {
    font-size: 1.3rem;
}


.section-footer #footer-copyrigth {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 15px;
}

.section-footer #footer-copyrigth h6 {
    padding-left: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;

}

@media screen and (min-width: 350px) and (max-width: 1000px) {
    .section-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        gap: 30px;

    }

    .section-footer #siguenos-en {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-footer #footer-redes-sociales {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        gap: 15px;
        padding-left: 0;
    }

    .section-footer #footer-copyrigth {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}