@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@300&family=Metrophobic&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.section-3-acerca-de-mi {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Metrophobic', sans-serif;
}

.section-3-acerca-de-mi-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 60%;

}


.section-3-acerca-de-mi-div-1 h1 {
    color: #fdad46;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-3-acerca-de-mi-div-1 div h2 {
    background: linear-gradient(30deg, rgba(252, 98, 101, 1) 0%, rgba(252, 114, 116, 1) 47%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 25px;

}

.section-3-acerca-de-mi-div-1 ul li {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}


.section-3-acerca-de-mi-div-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.section-3-acerca-de-mi-div-2 img {
    width: 300px;
    height: 300px;
    object-fit: fill;

}

@media screen and (min-width: 350px) and (max-width: 1000px) {
    .section-3-acerca-de-mi {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-3-acerca-de-mi-div-1 {
        width: 90%;
    }

    .section-3-acerca-de-mi-div-1 div h2 {
        width: 100%;
        text-align: left;
    }

    .section-3-acerca-de-mi-div-1 ul li {
        text-align: left;
        padding-left: 10px;
    }

    .section-3-acerca-de-mi-div-2 {
        margin-top: 30px;
    }
}