@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Garamond:wght@300&family=Metrophobic&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.section-cursos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin: 30px 0;
	font-family: 'Metrophobic', sans-serif;
}

#section-cursos-titulo {
	width: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#section-cursos-titulo h1 {
	font-size: 1.5rem;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 1px;
	color: #fff;
}

#section-cursos-imagenes {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
	border-radius: 20px;
	padding: 10px 0;
}

#section-cursos-imagenes img {
	width: 85%;
	height: 400px;
	object-fit: fill;
	border-radius: 10px;
	margin-bottom: 30px;
	border: 1px #fdad46 solid;
}

#section-cursos-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #414bb2;
	color: #fff;
	font-size: 0.8rem;
	padding: 0;
}

#section-cursos-button a {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 600;
	text-decoration: none;
	background-color: #414bb2;
	gap: 10px;
}

#section-cursos-button a:hover {
	background-color: #fdad46;
	color: black;
	font-weight: 700;
	transition: 0.5s;
}


@media screen and (min-width: 500px) and (max-width: 1000px) {
	.section-cursos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin: 30px 0;
	}

	#section-cursos-imagenes {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		border-radius: 20px;

	}

	#section-cursos-imagenes img {
		width: 85%;
		height: 350px;
		object-fit: fill;
		border-radius: 10px;
	}
}

@media screen and (min-width: 300px) and (max-width: 499px) {
	.section-cursos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin: 30px 0;
	}

	#section-cursos-imagenes {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		border-radius: 20px;

	}

	#section-cursos-imagenes img {
		width: 90%;
		height: 250px;
		object-fit: fill;
		border-radius: 10px;
	}
}